{:paths ["src" "resources"]
 :deps
 {;; Routing + dispatch
  simplemono.parts/ring
  {:git/url "https://github.com/simplemono/parts"
   :git/sha "4184add87e24bd92cdf6fcf92aee2852b58ba15b"
   :deps/root "ring"}

  ;; HTTP server with SSE support
  simplemono.parts/httpkit
  {:git/url "https://github.com/simplemono/parts"
   :git/sha "0a8353670975651ba2a41bfbe8ff7f2c5af15173"
   :deps/root "httpkit"}

  ;; JSON
  cheshire/cheshire {:mvn/version "5.13.0"}

  ;; Schema
  metosin/malli {:mvn/version "0.16.4"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}

  :example
  {:extra-paths ["examples"]
   :extra-deps {clj-http/clj-http {:mvn/version "3.13.1"}
                org.clojure/data.json {:mvn/version "2.5.1"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/tools.gitlibs {:mvn/version "2.6.206"}
                 lambdaisland/kaocha       {:mvn/version "1.91.1392"}}}}}
